<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LambdaBlog - New Post</title>
</head>
<body>
<form action=" {{ url_for('addrecord') }}" method="post">
    <h3>We're creating a new post</h3>
    <p>title</p>
    <input type="text" name="title">
    <br>
    <p>Post</p>
    <textarea name="post" id="" cols="30" rows="10"></textarea>
    <br>
    <input type="submit" value="Submit">
    <br>
</form>
</body>
</html>